{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>


    <title id="tab-title">Floowing by Balukidi Nehemie</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Your first free source of news and updates. Track your favourite stories over the internet at anytime.">
    <meta name="author" content="Balukidi Néhémie @Olfredos6">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="{% static 'images/logo3.png' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/topic.js' %}"></script>
    <script src="{% static 'js/settings.js' %}"></script>
    <script src="{% static 'js/auxScript.js' %}"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md fixed-top">
            <a class="brand d-none d-md-block" href="">F l o o w i n g<span class="badge-top" id="unloaded-count-brand"></span></a>
            <button type="button" class="btn btn-link d-none d-md-block active" onclick="window.location = '/dashboard'">latest<span
                    class="badge-content" id="unloaded-count-updates">0</span></button>
            <button type="button" class="btn btn-link d-none d-md-block" onclick="showMyTopics()">topics</button>
            <button type="button" class="btn btn-link d-none d-md-block" onclick="showSavedUpdates()">saved<span class="badge bg-blue"
                    id="count-saved-updates"><i class='fas fa-spinner fa-w-16 fa-spin'></i></span></button>
            <form class="d-none d-md-block" method="POST" id="new-string-form">
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" class="form-control" id="search-string-txt" name="search-string-txt" placeholder="Add new topic to track..."
                        list="topics-sg">
                    <button type="button" class="btn btn-sm btn-primary" id="submit-new-string">
                        <i class="fas fa-plus"></i>
                    </button>
                    <button type="button" class="btn btn-sm btn-danger d-block d-md-none" id="cancel-new-string">
                        <i class="fas fa-ban"></i>
                    </button>
                </div>
                <datalist id="topics-sg">
                </datalist>
            </form>
            <div class="btn-group mx-auto" role="group" id="nav-btn-grp">
                <button class="btn btn-link mx-1 d-block d-md-none" id="btn-sign-out" onclick="toggleContent('updates')"><i
                        class="fas fa-bell"></i><span class="badge-content" id="unloaded-count-updates2">0</span></button>
                <button class="btn btn-link mx-1 d-block d-md-none" id="btn-sign-out" onclick="showSavedUpdates()"><i
                        class="fas fa-bookmark"></i></button>
                <button class="btn btn-link mx-1 d-block d-md-none" id="btn-sign-out" onclick="showMyTopics()"><i class="fas fa-globe-africa"></i></button>
                <button class="btn btn-link mx-1 d-block d-md-none" id="btn-sign-out" onclick="showNewTopicForm()"><i
                        class="fas fa-plus"></i></button>
                <button class="btn btn-link mx-1 ml-0" id="btn-sign-settings" onclick="toggleContent('settings')"><i
                        class="fas fa-cog"></i></button>
                <button class="btn btn-link mx-1" id="btn-sign-out" onclick="location.href='/usr/sign-out/'"><i class="fas fa-lock"></i></button>
            </div>
            <div class="overlay"></div>
        </nav>
    </header>
    <div class="container-fluid mt-5">
        <div class="row mt-2">
            <div class="col-lg-3 col-md-4 col-sm-3 col-xs-12 mt-2 d-none d-md-block">
                {% block leftContent %}
                <div class="left-content" id="left-content">

                    <div class="body">
                        <h6 class="text-muted">Trending topics<small class="text-muted">&nbsp;(top 5)</small></h6>
                        <ul class="stats-list" id="trending-topics">
                            <li><a>
                                    <p class='topic-title' style="background-size: 10% 10%;background-color: rgba(228, 228, 228, 0.349);margin-bottom: 2px;">&nbsp;</p>
                                    <div class='t-count' style="background-size: 5px 5px;background-color: rgba(228, 228, 228, 0.185);">&nbsp;</div>
                                </a></li>
                            <li><a>
                                    <p class='topic-title' style="background-size: 10% 10%;background-color: rgba(228, 228, 228, 0.349);margin-bottom: 2px;">&nbsp;</p>
                                    <div class='t-count' style="background-size: 5px 5px;background-color: rgba(228, 228, 228, 0.185);">&nbsp;</div>
                                </a></li>
                            <li><a>
                                    <p class='topic-title' style="background-size: 10% 10%;background-color: rgba(228, 228, 228, 0.349);margin-bottom: 2px;">&nbsp;</p>
                                    <div class='t-count' style="background-size: 5px 5px;background-color: rgba(228, 228, 228, 0.185);">&nbsp;</div>
                                </a></li>
                            <li><a>
                                    <p class='topic-title' style="background-size: 10% 10%;background-color: rgba(228, 228, 228, 0.349);margin-bottom: 2px;">&nbsp;</p>
                                    <div class='t-count' style="background-size: 5px 5px;background-color: rgba(228, 228, 228, 0.185);">&nbsp;</div>
                                </a></li>
                            <li><a>
                                    <p class='topic-title' style="background-size: 10% 10%;background-color: rgba(228, 228, 228, 0.349);margin-bottom: 2px;">&nbsp;</p>
                                    <div class='t-count' style="background-size: 5px 5px;background-color: rgba(228, 228, 228, 0.185);">&nbsp;</div>
                                </a></li>
                        </ul>
                    </div>

                    <div class="body">
                        <h6 class="text-muted">Popular topics<small class="text-muted">&nbsp;(top 5)</small></h6>
                        <ul class="stats-list" id="popular-topics">
                            <li><a>
                                    <p class='topic-title' style="background-size: 10% 10%;background-color: rgba(228, 228, 228, 0.349);margin-bottom: 2px;">&nbsp;</p>
                                    <div class='t-count' style="background-size: 5px 5px;background-color: rgba(228, 228, 228, 0.185);">&nbsp;</div>
                                </a></li>
                            <li><a>
                                    <p class='topic-title' style="background-size: 10% 10%;background-color: rgba(228, 228, 228, 0.349);margin-bottom: 2px;">&nbsp;</p>
                                    <div class='t-count' style="background-size: 5px 5px;background-color: rgba(228, 228, 228, 0.185);">&nbsp;</div>
                                </a></li>
                            <li><a>
                                    <p class='topic-title' style="background-size: 10% 10%;background-color: rgba(228, 228, 228, 0.349);margin-bottom: 2px;">&nbsp;</p>
                                    <div class='t-count' style="background-size: 5px 5px;background-color: rgba(228, 228, 228, 0.185);">&nbsp;</div>
                                </a></li>
                            <li><a>
                                    <p class='topic-title' style="background-size: 10% 10%;background-color: rgba(228, 228, 228, 0.349);margin-bottom: 2px;">&nbsp;</p>
                                    <div class='t-count' style="background-size: 5px 5px;background-color: rgba(228, 228, 228, 0.185);">&nbsp;</div>
                                </a></li>
                            <li><a>
                                    <p class='topic-title' style="background-size: 10% 10%;background-color: rgba(228, 228, 228, 0.349);margin-bottom: 2px;">&nbsp;</p>
                                    <div class='t-count' style="background-size: 5px 5px;background-color: rgba(228, 228, 228, 0.185);">&nbsp;</div>
                                </a></li>
                        </ul>
                    </div>
                    <div class="ml-3">
                        <small class="text-muted">by Balukidi N. @olfredos6<br>&copy; 2018</small>
                    </div>
                </div>

                {% endblock %}
            </div>
            <!-- Main contents -->
            {% block content %}
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-6" id="updates"></div>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-6" id="topics"></div>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-6" id="saved"></div>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-6" id="topic-specific-updates"></div>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-6" id="settings">
                <div class="settings-search">
                    <form class="float-left col-2 d-none d-md-block">
                        <div>
                            <button type="button" class="btn btn-light" style="font-size: 0.85rem;" onclick="window.location = '/dashboard'"><i
                                    class="fas fa-home"></i></button>
                        </div>
                    </form>
                    <form class="float-right col-sm-8 col-md-6 col-lg-4">
                        <div>
                            <input type="text" class="form-control form-control-sm" id="inputSettingSearch" placeholder="search settings...">
                        </div>
                    </form>
                </div>
                <div class="a-setting">
                    <div class="setting-name col-md-6">
                        <label for="set-lang" class="col-sm-2 col-form-label">Prefered Language<br>
                            <small>Updates not in this language will not be shown to you</small></label>
                    </div>
                    <div class="col-md-6">
                        <select id="pref_lang" name="pref_lang" class="form-control form-control-sm" onchange="updateSettings('pref_lang')">
                            <option value="af">Afaraf</option>
                            <option value="ar">لعربية</option>
                            <option value="bg">български език</option>
                            <option value="bn">বাংলা</option>
                            <option value="ca">Català, Valencià</option>
                            <option value="cs">čeština, český jazyk</option>
                            <option value="cy">Cymraeg</option>
                            <option value="da">Dansk</option>
                            <option value="de">Deutsch</option>
                            <option value="el">ελληνικά</option>
                            <option value="en">English</option>
                            <option value="es">Español</option>
                            <option value="et">Eesti Keel</option>
                            <option value="fa">فارسی</option>
                            <option value="fi">Suomi, Suomen kieli</option>
                            <option value="fr">Français</option>
                            <option value="gu">ગુજરાતી</option>
                            <option value="he">עברית</option>
                            <option value="hi">हिन्दी, हिंदी</option>
                            <option value="hr">Hrvatski Jezik</option>
                            <option value="hu">Magyar</option>
                            <option value="id">Bahasa Indonesia</option>
                            <option value="it">Italiano</option>
                            <option value="ja">日本語</option>
                            <option value="kn">ಕನ್ನಡ</option>
                            <option value="ko">한국어</option>
                            <option value="lt">Lietuvių Kalba</option>
                            <option value="lv">Latviešu Valoda</option>
                            <option value="mk">Mакедонски Jазик</option>
                            <option value="ml">മലയാളം</option>
                            <option value="mr">मराठी</option>
                            <option value="ne">नेपाली</option>
                            <option value="nl">Nederlands, Vlaams </option>
                            <option value="no">Norsk</option>
                            <option value="pa">ਪੰਜਾਬੀ</option>
                            <option value="pl">Język polski, Polszczyzna</option>
                            <option value="pt">Português</option>
                            <option value="ro">Română</option>
                            <option value="ru">Pусский</option>
                            <option value="sk">Slovenčina, Slovenský Jazyk</option>
                            <option value="sl">Slovenski Jezik, Slovenščina</option>
                            <option value="so">Soomaaliga, af Soomaali</option>
                            <option value="sq">Shqip</option>
                            <option value="sv">Svenska</option>
                            <option value="sw">Kiswahili</option>
                            <option value="ta">தமிழ்</option>
                            <option value="te">తెలుగు</option>
                            <option value="th">ไทย</option>
                            <option value="tl">Wikang Tagalog</option>
                            <option value="tr">Türkçe</option>
                            <option value="uk">Українська</option>
                            <option value="ur">اردو</option>
                            <option value="vi">Tiếng Việt</option>
                        </select>
                    </div>
                </div>
            </div>
            {% endblock %}
            <!-- .Main contents -->

        </div>

        <div class="row"></i>
            <div class="mx-auto" id="loader-spiner" style="width: 200px; display: none;">
                <i class='fas fa-spinner fa-w-16 fa-spin fa-lg'></i>
            </div>
        </div>
    </div>

</body>
{% block jsScripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="{% static 'js/updates.js' %}"></script>
<script src="{% static 'js/search-string.js' %}"></script>
<script src="{% static 'js/notify.min.js' %}"></script>
{% endblock %}

</html>