{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>


    <title>Floowing by Balukidi Nehemie</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Your first free source of news and updates. Track your favourite stories over the internet at anytime.">
    <meta name="author" content="Balukidi Néhémie @Olfredos6">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="{% static 'images/logo3.png' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body style="padding-top: 50px;">
    <header>
        <nav class="navbar fixed-top" style="background-image:url('static/css/images/bground.jpg');">

            <a class="brand" href="#">F l o o w i n g</a>
            <form class="form-inline" id="frm-auth" method="POST" autocomplete="off">
                {% csrf_token %}
                <input class="form-control form-control-sm mr-sm-2" type="email" placeholder="email" name="login"
                    aria-label="Search" autocomplete="">
                <input class="form-control form-control-sm mr-sm-2" type="password" placeholder="password" name="password"
                    aria-label="Search" autocomplete="">
                <span class="input-group-btn">
                    <button class="btn btn-sm btn-outline-success my-2 my-sm-0" id="btn-sign-in">Sign In</button>&nbsp;
                    <button class="btn btn-sm btn-outline-secondary my-2 my-sm-0" id="btn-sign-up">Sign Up</button>
                </span>
            </form>
            <div class="overlay"></div>
        </nav>
    </header>
    <div class="container mt-5 wrapper content">
        <div class="row align-items-center">
            <div class="col-6 mx-auto col-md-6 order-md-2 mt-5">
                <img class="img-fluid mb-3 mb-md-0" src="{% static 'images/logo3.png' %}" alt="" width="1024" height="860">
            </div>
            <div class="col-md-6 order-md-1 text-center text-md-left pr-md-5">
                <h1 class="mb-3 bd-text-purple-bright">Never miss out on anything anymore </h1>
                <p class="lead">
                    Floowing is the tool that will help you stay up to date with what insterests you.
                </p>
                <p class="lead mb-4">
                    Sign-in, record your topics of interest and let Floowing collect and present the latest news to
                    you non-stop and no charge.
                    Althought not being a social media, Floowing brings to you the features and power of the most
                    popular social platforms out there.
                </p>
            </div>
        </div>
        <div class="push"></div>
    </div>
    <footer>
        <div class="container-fluid p-3 p-md-5">
            <div class="container col-sm-4 col-md-6 col-lg-6 col-xl-6 footer-links bg-col-d order-md-2">
                <ul class="social-links">
                    <li><a href="https://twitter.com/olfredos6" target="_blank"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://za.linkedin.com/in/néhémie-balukidi-a1b57183" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="https://github.com/Olfredos6" target="_blank"><i class="fab fa-github"></i></a></li>
                    <li><a href="https://bitbucket.org/olfredos6/" target="_blank"><i class="fab fa-bitbucket"></i></a></li>
                </ul>
            </div>
            <div class="container col-sm-8 col-md-6 col-lg-6 col-xl-6 gbye">
                <p><strong>Designed</strong>, <strong>Built</strong> and continously <strong>Improved</strong> with <i class="fas fa-heart" style="color:#8B0000"></i> and <i class="fas fa-grin-hearts" style="color:#f9d00d"></i>
                    by <a>Balukidi Néhémie <br>&copy; 2018</a></p>
            </div>
        </div>
    </footer>
</body>

<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="{% static 'js/notify.min.js' %}"></script>
<script src="{% static 'js/public.js' %}"></script>
{% if error_message %}
    <script>$.notify("{{ error_message|safe }}", { position: "top center", className: 'error' });</script>
{% endif %}

</html>