{% extends 'dashboard.html' %}
{% load staticfiles %}
{% block leftContent %}
{% endblock %}
{% block content %}
<div class="d-flex flex-column col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-6" id="settings">
    <div class="settings-search">
        <form class="float-left col-2 d-none d-md-block">
            <div>
                <button type="button" class="btn btn-light" style="font-size: 0.85rem;" onclick="window.location = '/dashboard'"><i
                        class="fas fa-home"></i></button>
            </div>
        </form>
        <form class="float-right col-sm-8 col-md-6 col-lg-4">
            <div>
                <input type="text" class="form-control form-control-sm" id="inputSettingSearch" placeholder="search settings...">
            </div>
        </form>
    </div>
    <div class="a-setting">
        <div class="setting-name col-md-6">
            <label for="set-lang" class="col-sm-2 col-form-label">Prefered Language<br>
                <small>Updates not in this language will not be shown to you</small></label>
        </div>
        <div class="col-md-6">
            <select id="pref_lang" name="pref_lang" class="form-control form-control-sm" onchange="updateSettings('pref_lang')">
                <option value="af">Afaraf</option>
                <option value="ar">لعربية</option>
                <option value="bg">български език</option>
                <option value="bn">বাংলা</option>
                <option value="ca">Català, Valencià</option>
                <option value="cs">čeština, český jazyk</option>
                <option value="cy">Cymraeg</option>
                <option value="da">Dansk</option>
                <option value="de">Deutsch</option>
                <option value="el">ελληνικά</option>
                <option value="en">English</option>
                <option value="es">Español</option>
                <option value="et">Eesti Keel</option>
                <option value="fa">فارسی</option>
                <option value="fi">Suomi, Suomen kieli</option>
                <option value="fr">Français</option>
                <option value="gu">ગુજરાતી</option>
                <option value="he">עברית</option>
                <option value="hi">हिन्दी, हिंदी</option>
                <option value="hr">Hrvatski Jezik</option>
                <option value="hu">Magyar</option>
                <option value="id">Bahasa Indonesia</option>
                <option value="it">Italiano</option>
                <option value="ja">日本語</option>
                <option value="kn">ಕನ್ನಡ</option>
                <option value="ko">한국어</option>
                <option value="lt">Lietuvių Kalba</option>
                <option value="lv">Latviešu Valoda</option>
                <option value="mk">Mакедонски Jазик</option>
                <option value="ml">മലയാളം</option>
                <option value="mr">मराठी</option>
                <option value="ne">नेपाली</option>
                <option value="nl">Nederlands, Vlaams </option>
                <option value="no">Norsk</option>
                <option value="pa">ਪੰਜਾਬੀ</option>
                <option value="pl">Język polski, Polszczyzna</option>
                <option value="pt">Português</option>
                <option value="ro">Română</option>
                <option value="ru">Pусский</option>
                <option value="sk">Slovenčina, Slovenský Jazyk</option>
                <option value="sl">Slovenski Jezik, Slovenščina</option>
                <option value="so">Soomaaliga, af Soomaali</option>
                <option value="sq">Shqip</option>
                <option value="sv">Svenska</option>
                <option value="sw">Kiswahili</option>
                <option value="ta">தமிழ்</option>
                <option value="te">తెలుగు</option>
                <option value="th">ไทย</option>
                <option value="tl">Wikang Tagalog</option>
                <option value="tr">Türkçe</option>
                <option value="uk">Українська</option>
                <option value="ur">اردو</option>
                <option value="vi">Tiếng Việt</option>
            </select>
        </div>
    </div>
</div>
{% endblock %}
{% block jsScripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="{% static 'js/search-string.js' %}"></script>
<script src="{% static 'js/notify.min.js' %}"></script>
<script src="{% static 'js/settings.js' %}"></script>
{% endblock %}