html, body {
    height: 100%;
  }

body {
    display: flex;
    flex-direction: column;
    background-color: #0818280a
}

.brand {
    color: #007bff;
    font-weight: 700;
    display: inline-block;
    padding-top: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
    
}

.brand:hover, .brand:focus {
    text-decoration: none;
  }

  :any-link:focus, :any-link:hover{
    color: #28a745;
  }
.overlay {
    /* background-color: rgba(0, 0, 0, 0.2); */
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.fixed-navbar {
    position: auto;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar {    
    border-bottom: 1px solid #007bff!important;
    flex-wrap: nowrap;
}

.nav-item .btn:hover{
    text-decoration: none;
    color: #05274d;
}

.badge-top {
    font-size: 10px;
    font-weight: 600;
    line-height: 1px;
    padding: 2px 6px;
    position: absolute;
    top: 1px;
}

.badge-content {
    font-size: 10px;
    font-weight: 600;
    line-height: 1px;
    padding: 2px 6px;
    position: relative;
    bottom: 10px;
}

.btn .badge-content :hover :-moz-any-link :any-link {
    text-decoration: none ;
    color: #e25822;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}

.bg-dark {
    background: #343a40!important;
    border: 1px solid #343a40!important;
    color: #fff;
}

.bg-yellow {
    background: #ffc107!important;
    border: 1px solid #ffc107!important;
    color: #fff;
}

.bg-fire {
    background: #e25822!important;
    border: 1px solid #e25822!important;
    color: #fff;
}


.social-links {
    list-style: none;
    float: right;
}

.social-links li:last-child {
    margin-right: 0px;
}

.gbye {
    color: #aaa8a86b;
    float: left;
}

.gbye a:link{
    text-decoration: none;
    color: #aaa8a86b;
}

.social-links li{
    display: inline-block;
    margin-right: 20px;
}

footer{
    background-color: #2e2e2e;
    flex-shrink: 0;
}

.content {
    flex: 1 0 auto;
  }

.txt-justified {
    text-align: justify;
}


.topic-stats ul{
    display: inline-block;
    width: 100%;
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    padding-left: 0;
    margin: 0%;
}
.topic-stats li{
    width: 32%;
    display: inline-block;
    text-align: center;
    border-right: 1px solid #e6e6e6;
}

.topic-stats li:hover{
    cursor: pointer;
    border-bottom: 1px solid #007bff;
    transition: border-bottom 0.1s;
    /* padding-bottom: 2px; */
    color: #007bff;
}

.topic-stats li:last-child{
    border-right: 0px;
}

.h-topic {
    border-bottom: 0px;
}

.h-topic h6{
    display: inline;
}

.h-topic i{
    float: right;
}

.h-topic i:hover{
    font-size: 20px;
    color: #007bff;
    cursor: pointer;
}

.flex-container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.flex-container .flex-item {
    direction: 1;
}

input::-webkit-calendar-picker-indicator {
    display: none;
  }

.dropdown-item {
    cursor: pointer;
}



.dropdown-item-text{
    cursor: text;
    color: #6c757d !important;
}

.left-content{
    overflow: hidden;
}

.left-content .header{
    background-color: rgba(00, 123, 255, 0.9);
    padding: 6px;
    padding-left: 30%;
    color: #fff;
    border-radius: .25rem;
}


.left-content .body{
    width: 95%;
    margin: auto;
    margin-bottom: 20px;
    background-color: #ffffff;
    margin-top: 2px;
    border-radius: .25rem;
    border: 1px solid #e6e6e6;
    /* border-bottom: 0px; */
    border-top: 0px;
    padding-left: 5px;
}

.left-content .t-count{
    font-size: 10px;
    font-weight: bold;
    color: #6c757d;
    margin-top: 0px;
}

.in-stats-topic {
    padding-left: 4%;
}


.stats-list {
    padding-left: 10px;
}


.stats-list li{
    list-style: none;
}


/* .stats-list li .topic-title:hover{
    text-decoration: none;
    cursor: pointer;
    color: #28a745;
} */

.stats-list li .t-count:hover{
    text-decoration: none;
}

li .topic-title{
    color: #007bff;
    font-weight: bold;
    margin-bottom: 0px;
    width: 100%;  
    padding-bottom: 0px; 
    font-size: 14px;
}

.card-body .btn-link:hover{
    text-decoration: none;
    color: #05274d;
}

.t-count .btn{
    font-size: .62rem;
}

#settings{
    background-color: #fff;
    margin-top: 5px;
    padding: 5px;
    border: 1px solid #e6e6e6;
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.settings-search{
    width: 100%;
    margin-bottom: 10px;
    /* border-bottom: 1px solid #007bff; */
}

.a-setting{
    width: 100%;
    border:1px solid #e6e6e6;
    border-right: 0px;
    border-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-flex;
    align-content: space-between;
}

.setting-name{
    width: 50%;
    white-space: nowrap;
    font-weight: 500;
    font-size: 15px;
}

.setting-value{
    width: 50%;
}



